.visually-hidden {
  display: none;
}

li {
  list-style: none;
}

.sedona {
  align-items: center;
  display: block;
  margin: 0 auto;
  background-image: url('images/index-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sedona__title {
  margin: 0;
  align-items: center;
}

.maling {
  background-image: url('images/mailing-background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
