/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*::before::after {
  box-sizing: border-box;
}

body {
  font-family: "Pt-Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffff;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 70px;
}

.visually-hidden {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Pt-Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.header {
  color: black;
}

.header__logo {
  margin-right: 47px;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav-items {
  margin-right: 34px;
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.header__nav-link:hover {
  content: "";
  border-bottom: 2px solid #756257;
  padding-bottom: 20px;
}

.header__menu-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__user-btn {
  cursor: pointer;
  padding: 9px 35px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: #756157;
}

.header__user-link {
  position: relative;
  width: 26px;
  margin-right: 26px;
  cursor: pointer;
}

.user-link__number {
  position: absolute;
  right: 0;
  left: 13px;
  bottom: 12px;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #7db54f;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
}

.header__user-btn:hover {
  background-color: #615048;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header__user-btn:focus {
  background: #615048;
}

.header__user-btn:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

/* 2.Интро блок  */

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100vh - 70px);
  background: url("../images/index-background.jpg") no-repeat;
  background-size: cover;
}

.intro__figure {
  position: absolute;
  bottom: 0;
  height: auto;
  min-width: 100%;
}

.intro__figure img {
  bottom: 0;
  height: auto;
  min-width: 100%;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 61px;
}

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__subtitle {
  margin-top: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66.67%;
  flex: 0 1 66.67%;
}

.small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
}

.second .small {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.second .big {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.big img {
  width: 100%;
  height: auto;
}

.advantages__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.advantages__subtitle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffff;
}

.advantages__text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.descr {
  background-color: #82b3d3;
}

.advantages__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
  height: 400px;
}

.advantages__block {
  background-color: #fff;
  padding-top: 102px;
  padding-bottom: 102px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.advantages__block:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__block-title {
  margin-bottom: 30px;
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__block-subtittle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages__block-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantanges__item-inner {
  background: rgba(131, 179, 211, 0.2);
  height: auto;
  width: 100%;
}

.advantages__row-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
  height: 4FG00px;
}

.advantages__block-list {
  background-color: #fff;
  padding-top: 102px;
  padding-bottom: 102px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.advantages__block-list:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__img {
  margin-bottom: 30px;
}

.advantages__list-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages__list-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__img {
  text-align: center;
}

.search__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.search__title {
  text-align: center;
  margin-top: 91px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 56px;
}

.search__wrap {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__btn {
  text-align: center;
  padding: 5px 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 93px;
}

.search__btn:hover {
  background-color: #615048;
}

.search__btn:focus {
  background: #615048;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.search__btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 49px;
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 75px;
  color: #fff;
}

.page-footer__img {
  margin-right: 26px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}

.footer__vk path:hover {
  fill: #68a2ca;
  stroke: #68a2ca;
  stroke-linejoin: round;
  stroke-width: 0.4;
}

.footer__vk path:active {
  fill: rgba(104, 162, 202, 0.3);
  stroke-linejoin: round;
  stroke-width: 0.1;
}

.footer__tg path:hover {
  fill: #68a2ca;
  stroke: #68a2ca;
  stroke-linejoin: round;
  stroke-width: 0.4;
}

.footer__tg path:active {
  fill: rgba(104, 162, 202, 0.3);
  stroke-linejoin: round;
  stroke-width: 0.1;
}

.footer__youtube path:hover {
  fill: #68a2ca;
  stroke: #68a2ca;
  stroke-linejoin: round;
  stroke-width: 0.4;
}

.footer__youtube path:active {
  fill: rgba(104, 162, 202, 0.3);
  stroke: #68a2ca;
  stroke-linejoin: round;
  stroke-width: 0.1;
}

.page-footer__phone {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.page-footer__phone:hover {
  color: #756157;
}

.page-footer__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer__phone.page-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.page-footer__logo {
  margin-right: 75px;
}

.page-footer__logo path:hover {
  fill: #756157;
  stroke: #756157;
  stroke-width: 0.2;
}

.page-footer__logo path:active {
  fill: rgba(117, 97, 87, 0.3);
  stroke: #756157;
  stroke-width: 0.2;
}

.subscribe {
  background-image: url("../images/background-subs.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.page-footer__logo.subscribe__inner {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
}

.subscribe__title h2 {
  padding-top: 94px;
  padding-bottom: 29px;
  color: #ffff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-catalog__title h2 {
  padding-top: 94px;
  padding-bottom: 29px;
  color: #ffff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__description {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 46px;
}

.subscribe__form {
  text-align: center;
}

.form__input {
  width: 491px;
  height: 44px;
  background: #f2f2f2;
  border-radius: 10px 10px;
  padding-right: 12px;
  margin-bottom: 94px;
  z-index: 2;
}

input {
  padding: 0 22px;
}

.form__button {
  z-index: 1;
  color: #fff;
  margin-left: -19px;
  padding-top: 2px;
  padding-bottom: 6px;
  padding-right: 25px;
  padding-left: 20px;
  background: #82b3d3;
  border-radius: 0 10px 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.form__button:hover {
  background-color: #68a2ca;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form__button:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

/* catalog-filter */
.catalog-filter {
  background-image: url("../images/catalog-background\ 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: auto;
  width: 100%;
}

.catalog-filter__title {
  padding-top: 35px;
}

.catalog-filter__title h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

/* filter-breadcrumbs */

.catalog-filter__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin-bottom: 40px;
}

.breadcumbs__link {
  -ms-flex-line-pack: center;
  align-content: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding-right: 10px;
}

.breadcumbs__link:not(:last-child):after {
  display: inline-block;
  content: "";
  margin-bottom: 2px;
  width: 7px;
  height: 7px;
  border-top: 1px solid #ffff;
  border-right: 1px solid #ffff;
  transform: rotate(45deg);
}

.breadcumbs__link:not(:last-child):hover {
  color: #ffff;
  opacity: 0.8;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcumbs__link:not(:last-child):active {
  color: #ffff;
  opacity: 0.3;
}

.breadcumbs__link:hover {
  color: #ffff;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcumbs__link svg:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.breadcumbs__link svg:focus {
  border: 3px solid #83b3d3;
}

.breadcumbs__link svg:active {
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.breadcumbs__link:active {
  opacity: 0.2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* catalog-filter */

.catalog-filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-filter__box {
  margin-right: 70px;
}

.catalog-box__item {
  padding-bottom: 16px;
}

.catalog-box__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-box__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-raido__label {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
}

.catalog-radio__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-radio__name {
  margin-bottom: 15px;
}

.catalog-filter__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 368px;
}

/* checkbox */

.catalog-box__name {
  cursor: pointer;
  margin-left: 19px;
}

.catalog-box__mark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #ffff;
  background-color: #fff;
}

.catalog-box__mark:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url("../images/checked.svg") no-repeat center;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.catalog-box__mark:hover {
  background: rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-box__mark:focus {
  border: 3px solid #83b3d3;
}

.catalog-box__mark:active {
  background: rgba(255, 255, 255, 0.3);
}

.catalog-box__input:checked + .catalog-box__mark:before {
  opacity: 1;
}

/* raido */
.catalog-radio__mark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ffff;
  background-color: #fff;
}

.catalog-radio__mark:hover {
  background: rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-radio__mark:focus {
  background: rgba(255, 255, 255, 0.3);
  border: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-radio__mark:active {
  border: rgba(255, 255, 255, 0.3);
}

.catalog-radio__mark:before {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: url("../images/Ellipse.svg") no-repeat center center;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.catalog-radio__input:checked + .catalog-radio__mark:before {
  opacity: 1;
}

.catalog-radio__item {
  margin-bottom: 15px;
}

.catalog-radio__name {
  cursor: pointer;
  margin-left: 19px;
}

/* filter-range */

.filter-range__scale {
  margin-left: 10px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 16px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range__button {
  position: absolute;
  background: #ffffff;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.range__button:focus {
  border: 2px solid #68a2ca;
  border-radius: 4px;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-range__input {
  height: auto;
  color: #ffff;
  width: 40px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  opacity: 3;
}

.filter-range__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.filter-range__label span {
  font-size: 18px;
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 1px;
  opacity: 0.3;
  padding-right: 17px;
  padding-left: 43px;
}

.filter-range__input p {
  -ms-flex-line-pack: center;
  align-content: center;
  padding-top: 1px;
  opacity: 0.3;
  padding-right: 17px;
  padding-left: 43px;
}

.filter-range__input::-webkit-outer-spin-button,
.filter-range__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.filter-range__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #ffffff;
  border-radius: 4px;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 5px;
}

.filter-range {
  max-width: 250px;
  margin-bottom: 71px;
  color: #ffff;
  margin-left: 0;
}

.filter-range__bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.filter-range__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 35px;
}

.catalog__inner-top {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

.catalog__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/* filter-button */

.filter-buttons {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filter-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: inherit;
}

.filter-btn:hover {
  color: #82b3d3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-btn:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: inherit;
}

.filter-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-button__active {
  color: #ffff;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: #82b3d3;
  border-radius: 4px;
  margin-bottom: 34px;
  padding: 10px 30px 10px 30px;
}

.filter-button__active:hover {
  background: #68a2ca;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.filter-button__active:focus {
  background: #68a2ca;
}

.filter-button__active:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

/* SELECT */

.catalog__select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
  padding: 14px 123px 13px 19px;
  cursor: pointer;
  width: 100%;
}

.catalog__select:hover {
  border: 2px solid #83b3d3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog__select:focus {
  border: 2px solid #83b3d3;
}

.catalog__select:active {
  border: 2px solid #e6e6e6;
  opacity: 0.6;
}

/* catalog-view */

.catalog-view__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-view__link {
  margin-right: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 17px 16px 17px 16px;
}

.catalog-view__link:hover {
  border: 2px solid #000000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* catalog */

/* catalog-content */
.catalog-card__list {
  margin-top: 68px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 340px 18px 340px 18px 340px;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  margin-bottom: 66px;
}

.catalog__card {
  padding-bottom: 20px;
}

.catalog-card__title {
  margin-left: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-card__subtitle {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 27px;
}

.catalog-card__subtitle p {
  padding-right: 80px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

/* Catalog button */
.card-buttons {
  margin-left: 15px;
  margin-bottom: 26px;
}

.card-buttons__link {
  background: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 10px 25px 10px 25px;
}

.catalog-card__img {
  margin-left: 20px;
}

.card-buttons__link:hover {
  background: #615048;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-buttons__link:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.card-buttons__link--active {
  background: #82b3d3;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 25px 10px 25px;
  margin-left: 15px;
}

.card-buttons__link--active:hover {
  background: #68a2ca;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-buttons__link--active:active {
  background: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-card__raiting {
  margin-left: 15px;
}

/* pagination */
.catalog-pagination {
  padding-top: 37px;
  border-top: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-pagination__link {
  margin-top: 5px;
}

.catalog-pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.catalog-pagination__item a {
  margin-right: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  background: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
  padding: 10px 22px 10px 22px;
}

.catalog-pagination__item a:hover {
  background: #68a2ca;
  border: 1px solid #82b3d3;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.catalog-pagination__item a:active {
  background: #68a2ca;
  border: 1px solid #82b3d3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-pagination__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pagination__select {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  padding: 14px 43px 13px 19px;
  width: 160px;
}

.pagination__select:hover {
  border: 2px solid #83b3d3;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pagination__select:focus {
  border: 2px solid #83b3d3;
}

.pagination__select:active {
  border: 2px solid #e6e6e6;
  opacity: 0.3;
}

.catalog-pagination__descr {
  margin-right: 51px;
}

.catalog-pagination__descr p {
  padding-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* select */

/* subscribe */

.subscribe__catalog {
  color: #000000;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  background-size: cover;
}

.subscribe__form-title {
  padding-top: 94px;
  padding-bottom: 29px;
  color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-form__title {
  padding-top: 94px;
  padding-bottom: 29px;
  color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe__form-descr {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  padding-bottom: 46px;
}

/* modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  opacity: 0;
  visibility: hidden;
}

.modal:target {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.modal__inner {
  position: relative;
  width: 715px;
  margin: auto;
  padding: 62px;
  background-color: #fff;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal__close {
  display: flex;
  justify-content: center;
  position: relative;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.modal__svg {
  margin-top: 18px;
}

.modal__svg:focus {
  margin-top: 18px;
  opacity: 0.6;
  border-color: solid #83b3d3;
}

.modal__close:hover {
  background: #e6e6e6;
}

.modal__close:focus {
  border: solid #83b3d3 2px;
}

.modal__close:active {
  opacity: 0.6;
}

.modal__title {
  padding-top: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.modal-content__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.modal__top {
  margin-bottom: 63px;
}

.modal-form__label {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
}

.modal-content__label {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: capitalize;
}

.modal-content__input {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 420px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 4px;
}

.modal-content__input:hover {
  background: #e6e6e6;
}

.modal-content__input:focus {
  border: 3px solid #83b3d3;
}

.modal-content__input:active {
  background: #ffffff;
  border: 2px solid #000000;
}

.modal-content__input--active {
  width: 133px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 4px;
}

.modal-content__input--active:hover {
  background: #e6e6e6;
}

.modal-content__input--active:focus {
  border: 3px solid #83b3d3;
}

.modal-content__input--active:active {
  background: #ffffff;
  border: 2px solid #000000;
}

.modal__link {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__search {
  padding: 12px 26px 12px 26px;
  width: 593px;
  height: 60px;
  background: #83b3d3;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.modal__search a {
  color: #ffffff;
}

.modal__search:hover {
  background: #68a2ca;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__search:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 10px;
}

.modal__search:focus {
  background: #68a2ca;
  border: 3px solid #756257;
  border-radius: 10px;
}

.modal__search:active {
  background: #68a2ca;
  border-radius: 10px;
  opacity: 0.3;
}

.modal-close {
  /* display: none; */
}
/* tooltip */
.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
  width: 16px;
  height: 16px;
}

.tooltip-toggle {
  position: absolute;
  right: -65px;
  bottom: -3px;
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  display: block;
}

.tooltip-text {
  background: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 15px 18px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  height: 143px;
  position: absolute;
  top: 30px;
  left: 70px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: "";
  background-image: url("../images/tooltiparrow.svg");
  background-color: transparent;
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 37px;
  top: -9px;
  right: 40px;
  margin-left: auto;
  margin-right: auto;
}
