body {
  font-family: "Pt-Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffff;
  margin: 0;
  padding: 0;
}




.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 70px;
}

.visually-hidden {
  display: none;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Pt-Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}


@font-face {
  font-family: "Pt-Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.header {
  color: black;
}

.header__logo {
  margin-right: 47px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__wrapper-inner {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-items {
  margin-right: 34px;
}

.last-child {
  margin-right: 0px;
}

.header__nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.header__menu-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__user-list {
  margin-right: 30px;
  cursor: pointer;
}

.header__user-btn button {
  padding: 9px 35px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: #756157;
}

/* 2.Интро блок  */

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
  background: url('../images/index-background.jpg') no-repeat;
  background-size: cover;
}


.intro__figure {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.intro__figure img {
  height: auto;
  width: 100%;
}

.benefit {
  display: flex;
  align-items: center;
  margin-top: 61px;
}

.benefit__title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.benefit__subtitle {
  margin-top: 31px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages__row {
  display: flex;
}

.big {
  flex: 0 1 66.67%;
}

.small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 33.33%;
}

.second .small {
  order: 2;
}

.second .big {
  order: 1;
}

.big img {
  width: 100%;
  height: auto;
}

.advantages__title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.advantages__subtitle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffff;
}

.advantages__text {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.descr {
  background-color: #82B3D3;
}

.advantages__row-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
  height: 400px;
}

.advantages__row-item.advantages__row-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__block {
  margin-top: 102px;
  margin-bottom: 102px;
  margin-right: 85px;
  margin-left: 85px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.advantages__block-title {
  margin-bottom: 30px;
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__block-subtittle {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages__block-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantanges__item-inner {
  background: rgba(131, 179, 211, 0.2);
  height: auto;
  width: 100%;
}

.advantages__row-list {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
  height: 4FG00px;
}

.advantages__block-list {
  margin-top: 102px;
  margin-bottom: 102px;
  margin-right: 85px;
  margin-left: 85px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.advantages__img {
  margin-bottom: 30px;
}

.advantages__list-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages__list-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages__img {
  text-align: center;
}

.search__inner {
  align-items: center;
}

.search__title {
  text-align: center;
  margin-top: 91px;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search__descr {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 56px;
}

.search__btn {
  text-align: center;
}

.search__btn button {
  text-align: center;
  padding: 5px 90px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  background-color: #756157;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 93px;
}

.page-footer__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 49px;
}

.page-footer__social{
  display: flex;
  justify-content: space-between;
  margin-left: 75px;
}

.page-footer__img  {
  margin-right: 26px;
  align-items: end;
}

.page-footer__phone {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: start;
}


.page-footer__logo {
  margin-right: 75px;
}


